{% extends 'main.html' %}

{% block content %}

<h1>{{ post.title }}</h1>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
<small>By: {{ post.author }} - {{ post.post_date }}</small>
    <a href={% url 'article_edit' post.pk %}>Edit</a>
    <a href={% url 'article-delete' post.pk %}>Delete</a>
        {% endif %}
    {% endif %}
<hr>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="postimage"> <br/>
    {% endif %}
<p>{{ post.body|safe }}</p>
<hr>
 <h2>Comments...</h2>
    {% if not post.comments.all %}
        No comments Yet...
    {% else %}
    {% for comment in post.comments.all %}
        <strong>
     {{comment.author }}
     {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/>
        <br/>
        {% endfor %}
    {% endif %}
{% endblock %}